body {
  padding-top: 75px;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}
input {
  margin-top: 10px;
}

section, header{
    padding-left:25px;
    padding-top:25px;
}

nav {
  padding-top:25px;
}
nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

nav ul li {
    display:inline;
    background-color:#eee;
    padding:5px;
    margin-right:5px;
}
button {
  margin-top: 10px;
}
#editlink {
  margin-top: 3px
}
#form {
  text-align: left;
}
.list {
  text-align: left;
}
