body {
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}
input {
  margin-top: 10px;
}

section, header{
    padding-left:25px;
}


nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

nav ul li {
    display:inline;
    margin-right:5px;
}
button {
  margin-top: 10px;
}
#editlink {
  margin-top: 3px
}
#form {
  text-align: left;
}
.list {
  text-align: left;
}
.navbar{
  min-height: 100px;
}
#navbar{
  margin-top: 25px;
}
